@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$modalColor: #f0e0e0;

*{
    font-family: 'Inter', sans-serif;
}

.App{
    // PLS DO NOT INCLUDE THIS OTHERWISE OTHER PAGES WILL HAVE THIS BACKGROUND
    // background-image: linear-gradient(to bottom,#8860D0, #A79BFF, #C1C8E4);
    .homepage-content > * {
        width: 100%;
        height: 100vh;
    }

    .homepage-content{
        display: flex;
        flex-direction: row;
        
        .homepage-left-section{   
            display: flex;
            flex-direction: column;
            justify-content: center;       
            .homepage-memores-introduction{ 
                padding-block: 30px;
                padding-inline: 30px;
                border-radius: 7px;
                background-color: #f0e0e0;
                .homepage-introduction{
                    .homepage-introduction-content{
                        font-size: 17px;
                        text-align: justify;
                        text-indent: 40px;
                    }
                }
            }
        }
        
        .homepage-right-section{ 
            display: flex;
            flex-direction: column;
            justify-content: center;

            .homepage-user-login{

                padding-inline: 50px;
                .login-modal{
                    border-radius: 7px;
                    margin-inline: 10px;
                    padding-block: 50px;
                    padding-inline: 50px;
                    background-color: $modalColor;

                    .login-modal-header{
                        color: black;
                        font-size: 20px;
                        font-weight: 500;
                        padding-bottom: 10px;
                        border-bottom: 1px solid grey;
                    }

                    .login-modal-inputs{
                        .login-form{
                            display: flex;
                            flex-direction: column; 

                            input[id="login-username"], input[id="login-password"]{
                                height: 35px;
                                outline: none;
                                border-radius: 7px;
                                margin-bottom: 7px;
                                padding-inline: 20px;
                                border: 1px solid #a0a0a0;
                            }

                            input[type="submit"]{
                                height: 35px;  
                                color: white;
                                cursor: pointer;
                                transition: 0.2s;
                                font-weight: bold;
                                border-radius: 7px;
                                border: 1px solid #a0a0a0;
                                background-color: #ed31febc; 

                                &:hover{
                                    background-color: #EE31FE; 
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}