.professional-license {
  width: 100%;
  height: 12rem;
}

.upload-image-inner-container {
  background-color: transparent;
  border: 1px solid #8866e9;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.upload-loading-state-container {
  background-color: transparent;
  border: 1px solid #8866e9;
  width: 543.5px;
  height: 192px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-image-inner-container:hover {
  background: linear-gradient(hsl(0 0% 0% / 1), transparent, hsl(0 0% 0% / 1));
  transition: filter 250ms ease;
  filter: opacity(0.9);
  cursor: pointer;
}

.upload-image-inner-container:hover .inputfile + label {
  font-size: 2.25rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  width: 38px;
  height: 36px;
  pointer-events: none;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputfile {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 40px;
}

.inputfile + label {
  font-size: 2.25rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 38px;
  height: 36px;
  pointer-events: none;
  cursor: pointer;
  text-align: center;
  display: none;
  align-items: center;
  justify-content: center;
}

.inputfile + label svg {
  fill: #fff;
}

.inputfile::file-selector-button {
  cursor: pointer !important;
}
